body {
    background-color: rgb(137, 227, 236);
  }


#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}

#result1{
    width: 5px; height: 10px;
}

#result2{
    width:5px; height: 10px;
}